* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* background-image: url("../img/img3.png"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-color:#001f3f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff348;
    width: 1872px;
    height: 60px;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.navbar-nav .nav-link {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-right: 210px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link {
    color: #1e8bf8;
    font-weight: bold;
    margin-left: 70px;
}

.container {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.texto {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    margin-left: 100px;
    text-shadow: 
        3px 3px 3px rgba(0, 0, 50, 0.5), /* azul escuro */
        0px 4px 4px rgba(0, 0, 100, 0.7), /* azul médio */
        -3px -3px 3px rgba(0, 0, 150, 0.7); /* azul mais claro */
}

.res {
    font-size: 0.5em;
    color: rgba(255, 255, 255, 0.933);
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.imagem img {
    width: 60vh; 
    margin-right: 300px;
    margin-top: 100px;
    animation: pulse 5s infinite alternate; /* Aplica a animação */
}
.btn{
    background-color: #ffec3f; 
    border: 2px solid #FFFFFF;
    border-radius: 20px; 
    color: rgb(28, 56, 218); 
    font-weight: bolder;
    padding: 20px 60px; 
    text-align: center; 
    text-decoration: none; 
    margin-top: 50px;
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
}

.btn:hover {
    background-color: #197a1d; /* Cor do botão ao passar o mouse */
}